  @Html.ActionLink("Employees", "Index", "User")
                    </li>
                    <li>
                        @Html.ActionLink("Schedule", "Index", "Schedule")
                    </li>
                    <li>
                        @Html.ActionLink("Time Off Requests", "Index", "TimeOffEvent")
                    </li>
                </ul>
