   <li>
                        @Html.ActionLink("Time Off Requests", "Index", "TimeOffEvent")
                    </li>
                    <li>
                        @Html.ActionLink("Employees", "Index", "Home", new { area = "" }, new { })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
